html {
  scroll-behavior: smooth;
}

:root {
  --saturation: 100%;
  --lightness: 50%;
}
/* HeroCards background shadow */
.shadow {
  position: absolute;
  background: hsl(120, var(--saturation), var(--lightness));
  border-radius: 24px;
  rotate: 35deg;

  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(0, var(--saturation), calc(var(--lightness) *  20%)); /* Updated to red hue */
    right:  460px;
  }
  to {
    background: hsl(0, var(--saturation), calc(var(--lightness) *  80%)); /* Updated to red hue */
    right:  160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}
